* {
    box-sizing: border-box;
}

.article{
    clear: both;
    width: 50%;
    margin-left: 25%;
}

#root{
    background-color: #add8e630;
    color: #000000e0;
}

html {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

body{
    background-repeat: no-repeat;
    font-size: 2rem;
    line-height: 1.5;
    min-height: 50rem;
    color: white;
    margin: 0;
}

.img-rounded{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius:50%;
    width: 12rem;
    border: white solid 0.125rem;
}

.profile{
    display: flex;
    flex-direction: column;
    float: left;
    margin: 1rem 8rem;
}
ul.navbar{
    float: right;
    margin-right: 10rem;
}

ul.navbar li{
    background: #add8e630;
    border-radius: 0.2rem;
    border: 0.1rem white solid;
    padding: 1rem;
    display: inline;
    margin: 1rem;
    cursor: pointer;
}

.details-pane{
    margin: 2rem;
    padding: 2rem;
}

.hire-me-btn{
    width: 50%;
    background: transparent;
    margin: 1rem auto;
    padding: 1rem;
    border: 0.125rem solid yellow;
    border-radius: 2rem;
    text-align: center;
    display: block;
}
.intro{
    font-size: 4rem;
    font-weight: bold;
}
.center-align{
    text-align: center;
}

.button{
    height: auto;
    line-height: normal;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    letter-spacing: 0;
}

.margin2{
    margin: 2rem auto;
}
.margin5{
    margin: 5rem auto;
}

.display-block{
    display: block;
}

.float-left{
    float: left;
}

.about-me{
    background: #bbf2f836;
    display: inline-block;
    padding: 5rem;
    margin: 0rem;
    height: 100vh;
}

.landing-page{
    background: url("images/bg-mac.jpeg");
    background-size: cover;
    width: 100%;
    float: left;
    height: 100vh;
    color: white;
    font-size: 2rem;
}

.tech-cards ul{
    list-style: none;
    width: 80%;
    min-width: 60%;
    list-style: none;
    margin: 0 auto;
}

.tech-cards ul li{
    float: left;
    text-align: center;
    padding: 0 1rem;
    color: rebeccapurple;
    background: #ff005285;
    height: 10rem;
    width: 20rem;
    margin: 1rem;
    padding: 3rem;
    border-radius: 0.5rem;
}

.color-black{
    color: black;
}